.footer {
        padding: 5.6vw;
        background-color: #080808;
        
        &__container {
        max-width: 1024px;
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        margin-left: 50px;

        @media (max-width: 767px) {
            margin-left: 0px;
        }
        
        &__select { 
            margin: 0 auto;
            display: flex;

            
        }

        &__language-selector {
            display: flex;
            align-items: center;
            margin: 0 auto;
            img {
                height: 18px;
                width: 18px;
                margin-right: 2px;
            }
                select {
                    background-color: transparent;
                    border: none;
                    color: #000;
                    height: 38px;
                    margin: 0 auto;
                    @media (max-width: 767px) {
                        width: 30px;
                    }
                    &:hover {
                        color:  #f9f9f9;
                    }
                    option {
                        color: #040714;
                    }
                }
            
        }

        h2 {
            color: #fff;
        }
    }

    &__logo {
        width: 20px;
        margin-left: 480px;
        align-items: center;
        margin-bottom: -4px;
    }

    &__links {
        margin-bottom: 16px;
        display: block;
        margin-left: 120px;
        margin-bottom: -30px;
        

        
        
        &__item {
            display: inline-block;
            margin: 0 auto;
            a {
                color: #fff;
                padding: 42px;
                margin-left: 20px;
                align-items: center;
                text-decoration: none;
                display: tabe-cell;
                margin: 24px auto;
                margin-bottom: 12px;
                &:hover {
                    color:  #f9f9f9;
                }
            }
        }
    }

    p {
        margin-bottom: 16px;
    }
}

.space {
    padding: 5.6vw;
    padding-bottom: 16px;
    margin-left: 70px;
    margin-bottom: 24px;
    

    @media (max-width: 767px) {
            margin: 0 auto;
            padding: 20px;
    }

    span {
        margin-left: 400px;
        display: flex;
        color: #fff;
        padding-top: 24px;

        @media (max-width: 767px) {
            margin: 20px;
            display: flex;
            color: #fff;
            padding-top: 24px;
            justify-content: center;
}
        }
    }



.image img {
    max-width: 550px;
    margin-left: 500px;
    border-radius: 70px;
    position: absolute;
    margin-top: -245px;
    margin-left: 290px;
    background-image: linear-gradient(to top,#0F79AF,#0F79AF);

    @media (max-width: 767px) {
        display: none;
    }

    span {
        margin-left: 90px ;
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin-top: -70px;
    }
    }


